#index header,
#resume header{
  padding-top: 1em;
  text-align: center;
  width: 50%;
  margin: 8em auto;
  padding-bottom: 2em;
  background-color: #B7B7B7;
  border-radius: 25px;
}

#friends header,
#journal header{
  padding: 0 1em;
  text-align: center;
  margin: 5em auto 3em auto;
  background-color: #B7B7B7;
  font-size: 20px;
  max-width: 10em;
  border-radius: 25px;
}

h1,
h2,
h3,
h4{
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: 'Droid Serif', serif;
}

nav a{
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  /* margin: 0; */
  padding-top: .9em;
  padding-bottom: 1em;
  display: inline-block;
  width: 6em;
  color: #515151;
  /* background-color: #FFFFFF; */
  /* border-radius: 25px; */
}

nav a:visited{
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: 5.5em;
}

nav a:hover{
  color: white;
  background-color: #5B5B5B
}

nav{
  font-family: 'Roboto', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #EAEAEA;
  width: 100%;
  border-radius: 25px;
}

nav ul{
  list-style: none;
  margin: 0;
  font-size: 2.5em;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #848484;
  border-radius: 25px;
  padding-left: .1em;
}


main article{
  margin: 1em;
}

#index header h2{
  margin-top: 3em;
}

#index header{
  text-align: center;
  max-width: 30em;
}

#index header p{
    padding: 2em;
}

/* #index #title{
  grid-area: title;
}

#index #desc{
  grid-area: desc;
} */

#resume #education{
  grid-area: education;
}

#resume #education{
  grid-area: education;
}

#resume #title{
  grid-area: title;
}

#resume #brewbike{
  grid-area: brewbike;
}

#resume #starbucks{
  grid-area: starbucks;
}

#resume #carrols{
  grid-area: carrols;
}

#resume #kilwins{
  grid-area: kilwins;
}

#friends #title{
  grid-area: title;
}

#friends #disc{
  grid-area: disc;
}

#friends #addy{
  grid-area: addy;
}

#friends #sam{
  grid-area: sam;
}

#friends #aidan{
  grid-area: aidan;
}

#friends #savannah{
  grid-area: savannah;
}

#friends #kurt{
  grid-area: kurt;
}

#friends #andrew{
  grid-area: andrew;
}

#friends #katie{
  grid-area: katie;
}

#friends #enjolie{
  grid-area: enjolie;
}

#friends #natalie{
  grid-area: natalie;
}

#resume #skills{
  grid-area: skills;
}

.caption{
  padding-bottom: 2em;
}

#resumegrid section{
  padding: 1em;
  background-color: lightgray;
  border-radius: 25px;
}

#resumegrid h2{
  text-align: center;
}

#index img{
  display: block;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 25px;
  max-width: 90%;
}

#index main p{
  display: block;
  margin: 1em auto;
  text-align: center;
  background-color: gray;
  border-radius: 25px;
  max-width: 15em;
}

#resume #experience{
  grid-area: experience;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-gap: 20px; */
  grid-template:
  "title title"
  "brewbike starbucks"
  "carrols kilwins";
  border-radius: 25px;
}

#resume main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  grid-gap: 20px;
  grid-template:
  "title title title"
  "education experience experience"
  "skills experience experience";
  color: #5B5B5B;
  font-size: 18px;
  background-color: #EAEAEA;
  border-radius: 25px;
}

#friends main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1em .5em auto;
  grid-gap: 20px;
  grid-template:
  "title title title"
  "disc disc disc"
  "sam addy aidan"
  "sav andrew kurt"
  "natalie katie enjolie";
  background-color: #EAEAEA;
  border-radius: 25px;
  padding: 1em;
}

#friends section{
  padding: 1em;
  background-color: lightgray;
  border-radius: 25px;
}

#friends section h3{
  text-align: center;
}

#friends #title,
#friends #disc{
  text-align: center;
}

#journal{
  text-align: center;
}

#journal section{
  padding: .5em;
  background-color: #EAEAEA;
  border-radius: 25px;
}

#journal article{
  padding: .5em;
  background-color: #D4D4D4;
  border-radius: 25px;
}

#journal div{
  padding: .5em;
  background-color: #C2C2C2;
  border-radius: 25px;
}

body{
  background-image: url("../img/background01.jpg");
  background-repeat: repeat;
  background-size: auto;
}

img{
  border: 2px solid black;
}

#friends img{
  display: block;
  margin: 0 auto;
  border: 2px solid black;
  max-width: 200px;
  border-radius: 25px;
}

@media(max-width: 800px) {
  #index header,
  #resume header{
    width: 90%;
  }

  body{
    padding-top: 2em;
  }

  nav a{
    margin: 0;
    margin-right: .1em;
    padding: 1em 0;
    width: 3.75em;
    border-radius: 25px;
    border: 1px solid black;
  }

  nav ul{
    font-size: 1.5em;
  }


  #resume #resumegrid{
    grid-template-columns: 1fr;
    grid-template:
    "education"
    "experience"
    "skills";
  }

  #resume #experience {
    grid-template-columns: 1fr;
    grid-template:
    "title"
    "brewbike"
    "starbucks"
    "carrols"
    "kilwins";
  }

  #friends main{
    grid-template-columns: 1fr;
    grid-template:
    "title"
    "disc"
    "addy"
    "sam"
    "aidan"
    "sav"
    "andrew"
    "kurt"
    "katie"
    "enjolie"
    "natalie";
  }
}

footer{
  text-align: center;
  display: block;
  margin: 2em auto;
  padding: 1em;
  background-color: white;
  border-radius: 25px;
  max-width: 90%;
}
